[Desktop Entry]
Name=Install MaloneyOS
Path=/maloneyos/installer
Exec=sudo python3 installer.py
Icon=/usr/share/icons/breeze/devices/symbolic/drive-harddisk-symbolic.svg
Type=Application
Categories=Utility;